<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter&display=swap"
      rel="stylesheet"
    />

    <!-- Required Css Stylesheets -->
    {% block styles %}
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/theme.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='dist/css/style.css') }}"
    />
    {% endblock %}

    <title>{% block title %}{% endblock %}</title>
  </head>

  <body>
    {% block content %}{% endblock %}

    <!-- Required Js Scripts -->
    {% block scripts %}
    <script src="{{ url_for('static', filename='dist/js/jquery.min.js') }}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
    {% endblock %}
  </body>
</html>