{% extends 'layouts/dashboard.html' %}

{% block dashboard %}
<h3 class="font-extrabold text-2xl">{{ g.greetings|safe }}</h3>
<div class="p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="stats" role="tabpanel" aria-labelledby="stats-tab">
    <dl class="grid max-w-screen-xl grid-cols-2 gap-8 p-4 mx-auto text-gray-900 sm:grid-cols-3 dark:text-white sm:p-8">
        <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">{{ stats['total_exams'] }}</dt>
            <dd class="text-gray-500 dark:text-gray-400">Total Exams</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">{{ stats['active_exams'] }}</dt>
            <dd class="text-gray-500 dark:text-gray-400">Active Exams</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
            <dt class="mb-2 text-3xl font-extrabold">{{ stats['finished_exams'] }}</dt>
            <dd class="text-gray-500 dark:text-gray-400">Finished Exams</dd>
        </div>
        <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold">{{ stats['total_students'] }}</dt>
          <dd class="text-gray-500 dark:text-gray-400">Total Students</dd>
      </div>
      <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold">{{ stats['invitations_sent'] }}</dt>
          <dd class="text-gray-500 dark:text-gray-400">Invitations Sent</dd>
      </div>
      <div class="flex flex-col items-center justify-center">
          <dt class="mb-2 text-3xl font-extrabold">{{ stats['students_joined'] }}</dt>
          <dd class="text-gray-500 dark:text-gray-400">Invitations Accepted</dd>
      </div>
    </dl>
</div>
<div class="flex items-center justify-center gap-4 w-full py-8">

    <a href="{{ url_for('common.users', role='student') }}"
        class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="flex items-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">All Students
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">You can see all students here.</p>
    </a>

    <a href="{{ url_for('common.exams') }}"
        class="block w-full p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">

        <h5 class="flex items-center mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">All Exams
            <svg class="rtl:rotate-180 w-3.5 h-3.5 ms-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                fill="none" viewBox="0 0 14 10">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M1 5h12m0 0L9 1m4 4L9 9" />
            </svg>
        </h5>
        <p class="font-normal text-gray-700 dark:text-gray-400">You can see all exams here.</p>
    </a>
</div>
{% endblock %}